.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*api_keys*
management/*.xlsx
source_functions/mtg2
source_functions/gcta_1.93.2beta/*
data/derived_data/update_email2020/*
data/derived_data/angus_hairshed/*
data/derived_data/geno_dump/*
data/derived_data/environmental_data/weather.rds
data/derived_data/seekparentf90/*.txt
data/derived_data/import_join_clean/*.xlsx
data/derived_data/import_join_clean/*.csv
data/derived_data/import_join_clean/*.rds
data/derived_data/3gen/*.xlsx
data/derived_data/3gen/*.csv
data/derived_data/grm_inbreeding/*
data/derived_data/mtg2_gwas/*
data/derived_data/breed_comp/*.csv
data/raw_data/*
management/*.xlsx
*.gdoc
*.pptx
talks_articles/2017_sare/*
log/import_join_clean/*.html
*.ftpconfig
html/*
*.txt
*.log
*.out
*renf90.tables
*renf90.par
*solutions
*ped
*sanity_key.csv
scratch.Rmd
*dat
