.Rproj.user
.Rhistory
.RData
.Ruserdata
management/*.xlsx
source_functions/api_keys
*.rds
data/derived_data/update_email2020/*
data/derived_data/angus_hairshed/*
data/derived_data/3gen/*
data/derived_data/import_join_clean/*.xlsx
data/derived_data/import_join_clean/*.csv
data/raw_data/*
management/*
*.gdoc
*.pptx
talks_articles/2017_sare/*
log/slurmout/*
log/snakemake_log/*
*.ftpconfig
